 /* Para empezar a darle estilos a nuestro sitio web vamos a crear un archivo de nombre style.css
 el cual lo vamos a vincular como bien lo vimos en el archivo html*/

  /*Lo primero que hacemos es resetear todos los estilos que ya viene por defecto en el navegador
  y para eso utilizamos las siguiente regla css*/

*{
    margin: 0;  /* para eliminar cualquier espacio alrededor de mi elemento*/
    padding: 0; /* para eliminar el relleno entre mi elemento y su borde */
    box-sizing: border-box; /* el box-sixing define el alto y ancho que va a ocupar mi elemento y al ponerlo
                             con valor border-box le estamos diciendo que  el ancho y el alto del elemento
                             debe ocupar solo el relleno y el borde que yo defini para mi elemento*/
  }
                   /*SECCION HEADER*/
 /* ahora lo siguiente que hacemos es definir los estilos para el HEADER primero*/

 header {
    display: flex; /*utilizamos el modelo de diseño de flexbox y le decimos al header que  va a tener un
                    diseño flexible de esta manera*/
    align-items: center; /*utilizando esta propiedad definimos que los elementos del encabezado se centren 
                          verticalmente a  lo largo del eje cruzado del contenedor*/
    justify-content: space-between;/* y con esto hacemos que los logos se pocisionen uno al comienzo y otro al final
                                   de mi contenedor*/
    padding: 20px 30px 20px 30px; /* y le agregamos algo de relleno para que nuestros elementos no queden 
                                  tan pegados al borde del header*/
    background-color: #e43f25; /*y le ponemos un rojo furiozo como color de fondo al header asi los logos 
                                 resaltan mejor*/
}

/* vamos a darle estilo al logo de nuestra pagina, para eso llamamos la class logo */

.logo {
        display: inline-block; /*primero lo establecemos como un elemento de linea para poder declarar el alto
                            y ancho que queremos que tenga*/
    width: 100px; /* Ajustamos el ancho a 100px*/
    height: auto; /*y el alto lo dejamos en auto porque solo ocupa el alto disponible del elemento header*/
}

/* y seguimos con el logo de inicio de sesión par eso llamamos la class que corresponda y asi con todos
mis elementos*/

.logoinisesion {
    display: inline-block;/*primero lo establecemos como un elemento de linea para poder declarar el alto
                              y ancho que queremos que tenga*/
    width: 58px; /* Ajustamos el ancho según lo que nesecitemos */
    height: auto;/*y el alto lo dejamos en auto porque solo ocupa el alto disponible del elemento header*/
    cursor: pointer; /*y le decimos al cursor que cuando pase por encima de mi logo cambie de forma a una mano*/
}

                        /*SECCION TITULO PRINCIPAL*/

 /*ahora vamos a darle estilo al titulo principal de mi pagina*/

h1{
    color: #f23f26; /*las letras las queremos rojas*/
    background-color: #040303; /* y el fondo negro para un mejor contraste*/
    width: 100%; /* y al poner en % y no en pixeles le decimos que ocupe el ancho total disponible de la página */
    padding:2px; /* y le agregamos algo de relleno para que nuestros elementos no queden 
                   tan pegados al borde*/
    text-indent: 50px; /* Ajustamos nuestro titulo un poco hacia la derecha para que quede sobre nuestro parrafo */
    margin: 2px ; /*le agregamos un margen para separarlo levemente del header*/
    font-size: 28px; /*definimos el tamaño de las letras de nuestro h1*/
    font-family: fantasy; /*declaramos la fuente*/
}

              /*SECCION MAIN*/

/*Luego vamos a darle amor a  la seccion main*/

main{
    display: flex; /*utilizamos el modelo de diseño de flexbox y le decimos al main que  va a tener un
    diseño flexible de esta manera*/
    align-items: center; /*utilizando esta propiedad definimos que los elementos dentro de este se centren 
          verticalmente */
    padding: 5px 5px 5px 50px; /* y le agregamos algo de relleno para que nuestros elementos no queden 
                  tan pegados al borde del header*/
    background-color: #f3e4ca; /*y le ponemos un color cremita como fondo*/
                                                                                                                   }
/*ahora le damos estilos a la nuestra linea negra que queremos que separe los botones*/

.seccionIzq  hr {
  width: 100%; /*le decimos que ocupe el ancho que tiene disponible*/
  height: 10px;/*pero que tenga solo 10 px de alto*/
  background-color: #040303 !important; /*que sea negra*/
  margin: 30px 0px; /*ponemos un margen arriba y abajo*/
}

.seccionIzq {
    display: flex; /*convertimos el contenedor Izq en un contenedor flexible*/
    flex: 1; /*le damos a flex un valor de 1 para que esta sección ocupe la misma cantidad de espacio
             horizontal que la sección derecha*/
    flex-direction: column;/*aca le decimos que los elementos dentro de la seccion izq se colocan en columnas*/
    justify-content: center; /*centramos los elementos*/
    padding: 2px; /*y le ponemos algo de relleno*/
}

/*Seguimos con el parrafo explicativo llamamos la  clase .seccionIzq  y el elemento p y con esto decimos 
que le vamos a dar estilo al elemento p dentro de la seccionIzq*/

.seccionIzqP {
    text-align: center; /*centramos el texto*/
    justify-content: start; /*lo pocisionamos al inicio del contenedor*/
    font-size: 38px; /* establecemos el tamaño que queremos que tenga el parrafo*/
    color: #48332b;/*y le ponemos un color marron para que se diferencie del titulo y demas secciones*/
    font-family: Georgia;/* y le ponemos ademas un tipografia diferente*/
    padding: 5px 5px 10px 5px; /* y lo rellenamos siempre en el sentido de las agujas del reloj*/
}

/* ahora vamos a darle estilos a nuestros botones y lo vamos a hacer llamando a los dos al mismo tiempo
y lo hacemos de la siguiente manera*/

.buttoninisesion,
.buttonregistrarse {
    width: 100%; /*establecemos un ancho del 100% diponible*/
    padding: 15px 20px; /*ponemos relleno*/
    margin: 5px 0; /*y un margen*/
    background-color: #040303; /*luego establecemos el color de nuestros botones*/
    color: #f23f26;/*y el de las letras de su interior*/ 
    font-size: 32px;/*establecemos el tamaño de las letras*/
    border-radius: 15px;/*redondeamos los bordes de los botones*/
    cursor: pointer; /*modificamos el cursor*/
    text-align: center; /*centramos el texto en el boton*/
    font-family: fantasy; /* le ponemos ademas un tipografia diferente*/
}

/*en la seccion derecha ubicamos la imagen y ahora la vamos a pocisionar*/

.seccionDerecha {
    display: flex; /*convertimos el contenedor en un  contenedor flexible*/
    flex: 1; /*le damos a flex un valor de 1 para que esta sección ocupe la misma cantidad de espacio
             horizontal que la sección izq*/
    justify-content: center;
    align-items: center;
}

/*establecemos el alto y ancho de la imagen para que ocupe el 100% del espacio que tiene disponible*/

.seccionDerecha img{
    width: 100%; /*por eso lo ponemos em porcentajes y no en pixeles*/
    height:100%;
}

                  /*SECCION CARD DE INDICACIONES*/

/*Una vez finalazada la seccion del main vamos a pasar a armar la seccion de las indicaciones utiles 
para nuestros usuarioa, perimero le damos estilo a toda la seccion completa*/



/*llamamos al contenedor principal y le decimos*/
.justify-content-around{
  justify-content: space-around; /*hasya el mismo espacio entre todos los elementos*/
  width: 100%;/*y que ocupen el 100% del ancho disponible*/
}

.seccionIndicaciones{
  display: flex; /*convertimos el contenedor en un  contenedor flexible*/
  width: 100%;/*que ocupe todo el ancho dispinible*/
  justify-content: space-around; /*le decimos que los elementos dentro de el deben ocupar el mismo espacio
   entre ellos para posicionar nuestras card horizontalmente*/
  align-items: center; /*centramos los elementos*/
  background-color: #f3e4ca; /*y le ponemos un color cremita como fongo*/
  margin: 0px;
  padding: 30px;
}

/*como queremos que las imagenes tengan un cuadro redondeado y un fondo rojo vamos a establecer*/
.card-img-top {
  width: 100%; /*hacemos que ocupe todo el ancho disponible*/
  height: auto; /*y que el alto sea automatico*/
  border-radius: 50%;  /*con esta propiedad que la imagen sea redonda*/
  border: 5px solid #040303 ; /*que tiene un borde solido de 5 px de color negro*/
  background-color: #e43f25; /*y un fondo rojo*/ 
  margin-top: 10px;
}

/*Ahora bien como queremos que el texto tenga un borde cuadrado y que el titulo se picisione encima de este 
vamos a llamar la class*/

.card-body {
    width: 100%;     /*ajustamos el ancho primero*/
    height: 250px; /*y el alto*/
    margin-top: 50px; /*y le decimos que debe estar 50 px por debajo del borde de la imagen para separarlos*/
    margin-right: 40px;
    margin-left: 5px;
    padding: 10px; /*le ponemos un poco de relleno para que los elementos se separen del borde*/
    border: 2px solid #040303; /* definimos un borde cudradado negro de 2 px*/
    background-color: #f3e4ca; /* con el fondo bage */
    position: relative; /* y le decimos que queremos que nuestro titulo ocupe una pisicion relativa de esta
    forma logramos que se pocisione sobre el borde*/
}

/*para lograr eso llamamos a la class del titulo que es la predeterminada por bootstrap y la modificamos
 a nuestro gusto*/

.card-title {
    position: absolute; /*es que ocupe todo el espacio disponible y luego ajustamos su pocision*/
    white-space: nowrap; /*asi evitamos un salto de linea*/
    font-size: 28px; /*establecemos el tamaño de  las letras de nuestro titulo*/
    color: #040303; /*y el color que queremos que tenga*/
    top: -10px; /* ponemos en negativo porque lo queremos desplazar hacia arriba */
    left: 50%; /* ponemos un left al 50*/
    transform: translateX(-50%); /*  y ahora desplazamos el título hacia la izquierda en la mitad de su propio ancho*/
    background-color: #f3e4ca; /* le ponemos el color de fondo */
    padding: 0 10px; /*un poco de relleno y listo nuestro titulo*/
    font-family: fantasy; /*definimos la fuente*/
}

/*definimos lo estilos de de nuestro parrafo dentro de la card*/

.card-text{
    font-size: 32px; /*le damos un tamaños de 32 px a las letras*/
    text-align: center;/*centramos el texto*/
    margin-top: 15px; /*y le ponemos margen arriba para que baje un poco el texto y no se superponga con el titulo*/
    color: #48332b; /*con un toque de color y ya tenemos lista nuestra card*/
}

            /*SECCION FOOTER*/

/*como ya tenemos casi toda la seccion armada solo nos falta darle estilos al footer que es el pie de pagina*/
/*llamamos el elemento footer donde vamos a definir el pocisionamiento de mis elementos usando flexbox
y de paso centramos el logo bien arriba en el medio y para eso definimos los siguiente valores:*/

footer {
    display: flex; /*lo convertimos en un contenedor flexible*/
    flex-direction: column; /*le decimos que queremos los elementos en columnas*/
    background-color: #040303; /* el fondo negro */
    padding: 20px; /*un relleno */
    width: 100%; /*le decimos que ocupe todo el espacio que tiene disponible*/
    height: auto;  /*ajustamos la altura*/
    border-top: 20px solid #f3e4ca ;/* y le ponemos un border top para separarlo de las card un poco */
    align-items: center; /*centramos los elementos*/
    text-align: center;  /*y el texto*/
}

.parrafooter {  /*vamos ahora con el texto del link de las bases y condiciones*/
    display: flex; /*contenedor flexible*/
    flex: 1;/*nos aseguramos que ocupe el mismo espacio que el contendor de los logos de redes*/
    justify-content: flex-start; /*y lo ubicamos en el inicio*/ 
    align-items: center; /*bien centrado*/ 
    width: 100%; /*ocupando todo el ancho disponible*/
}

.titfooter{
    text-decoration: none; /* y eliminamos el subrayado del enlace*/
    margin: 0px 0px 15px 100px; /*agregamos un margen recuerden que los valores van arriba, derecha, abajo, izq*/
    color: #f23f26; /*y le ponemos un poco de color*/
    white-space: nowrap;/*le decimos que no queremos salto de linea en nuestro titulo*/
}

/*y le ponemos un hover para que cambie de color cuando el usuario apoya el mause*/

.titfooter:hover {
    color: #f3e4ca;
}

.iconoredes { /* definimos las propiedades deldiv donde stan mis inconos lo mismo que antes*/
    display: flex; /*contenedor flexible*/
    justify-content: flex-end; /*lo ubicamos al final del contendor*/
    align-items: center; /*centros dentro de este*/
    margin: 0px 0px 15px 500px; /*ajustamos los margenes */
}

.imgredes{ /*ahora vamos con la imagen de los iconos*/
    width: 100px; /*ajustamos el ancho */
    height: auto; /*el alto */
    padding: 20px;/*un poco de relleno*/
    margin: 0 5px; /* le ponemos un poco de espacio  entre los íconos */
    text-decoration: none; /* eliminamos el subrayado del enlace*/
}

/*por ultimo le damos estilo al copyraight*/

.copyfooter {
    font-size: 14px;/*ajustamos el tamaño de la letras*/
    width: 100%;/*le de cimos que ocupe todo el ancho disponible*/
    color: #f23f26;/*le damos color a las letras y tenemos terminado nuestro copy*/
}

/*vamos a darles estilos a nuestro form de inicio de sesion y como solo podemos usar un archivo html
lo vamos a ejecutar mediante js, para que cuando el usuario haga click en el boton aparezca el form
y para que vaya con el estilo de la seccion main le vamos cambiar el color de fondoa negro, y de las letras a rojo*/


                        /*SECCION FORMULARIO*/

.form {
    width: 100%; /*le decimos que ocupe todo el ancho disponible*/
    height: 500px;/*le damos un alto al form*/
    top: -90px;/*le damos un top negativo para que cuando el form se abra tape el boton de inicio de sesion*/
    margin: 0 auto;/*le damos un margen*/
    padding: 20px;/*lo rellenamos un poquito*/
    border: 2px solid #e43f25; /*un borde negro para que se le haga el marquito*/
    border-radius: 5px; /*lo semiredondeamos ese borde*/
    background-color: #040303;/*le ponemos un color de fondo*/
    position: relative; /*y este valor esta añadido para posicionar el título que va a ir superpuesto sobre el borde*/
}

.titleForm { /* y ahora vamos a darle estilos al titulo h6 que va superpuesto sobre el borde*/
    position: absolute; /*esto nos va a permitir pocisionarlo sobre el borde*/
    top: -15px; /*le damos un top negativo para que se superponga con el borde*/
    left: 5%; /*lo desplazamos levemente a la derecha*/
    padding: 5px;/*le agregamos relleno para que no quede muy pegado al borde*/
    margin: 0px;/*eliminamos margenes*/
    background-color: #040303; /*le damos un color de fondo */
    font-size: 20px;/*ajustamos el tamaño de las letras*/
    color: #f23f26; /*le damos color a las letras*/
    border: 2px solid #e43f25;/*le agregamos un borde al titulo*/
    white-space: nowrap;/*le decimos que no queremos salto de linea en nuestro titulo*/
    font-family: fantasy;/*y le ponemos la tipografia que venimos usando hasta ahora*/
}

.form  h2 { /*le damos estilo al titulo de inicio de sesion que esta dentro de nuestro formulario*/
    text-align: center;/*pocisionamos el texto en el centro*/
    padding-top: 50px;/*bajamos el titulo*/
    margin-bottom: 15px;/*le ponemos un margen inferior para separarlo de las indicaciones de logueo*/
    font-size: 30px; /*ajustamos el tamaño de las letras*/
    font-family: fantasy;/*ponemos la misma tipografia*/
    color: #f23f26;/*y le ponemos el color que queramos yo vengo usando el mismo negro pero ustedes pueden usar el
                      que quieran*/
    text-decoration: underline;  /*y le agragamos un subrayado*/                
}

.form label { /*le damos estilos a las indicaciones de nuestro form que estan en la etiqueta label*/
    padding-top: 20px; /*le ponemos relleno arriba para bajarlo un poco*/
    display: block; /*generamos un elemento de bloque*/
    margin-bottom: 10px;/*ponemos un margen inferior*/
    text-align: center;/*centramos el texto*/
    font-family: fantasy;/*aplicamos la tipografia que usamos para el parrafo de la seccion inicial*/
    color: #e43f25;/*le cambiamos el color a las letras*/
}

/*hasta aca venimos dandole estilos a nuestra pagina llamandoa la clase o bien al elemento o ambos juntos*/
/*ahora como queremos personalizar aun mas nuestro form lo que vamos a hacer es llamar al type email y password
y para eso vamos a usar los corchetes []que se usan como selectores de atributos para 
seleccionar elementos que tienen  atributos con valores específicos, permitiendonos asi ponerle los estilos que 
nosostros queremos*/

.form input[type="email"],
.form input[type="password"] {
    justify-content: center;/*centramos el contenedor*/
    align-items:center;/*los elementos*/
    text-align: center;/*y el texto tambien lo ubicamos en el centro*/
    font-size: 20px;/*definimos el tamaño de las letras*/
    width: 100%; /*le decimos que ocupe todo el ancho disponible*/
    padding: 10px;/*le ponemos un pooc de relleno*/
    margin-bottom: 15px;/*un margen inferior*/
    border-radius: 5px; /*redondeamos un poco el borde*/
    background-color: #f3e4ca;/*le agregamos un color de fondo*/  
}

/*llamamos de la misma forma al boton de ingresar*/

.form input[type="submit"] {
    justify-content: center; /*centramos el contendor*/
    align-items: center;/*y los elementos*/
    text-align: center;/*centramos el texto*/
    background-color: #e43f25;/*definimos el color de fondo*/
    color: #040303;/*el color de las letras*/
    padding: 10px 20px;/*le agregamos relleno*/
    border: 2px solid #e43f25; /*le agregamos un borde*/
    border-radius: 5px;/*lo redondeamos*/
    width: 100%; /*le damos un ancho*/
    cursor: pointer; /*ademas cambiamos la froma del cursor cuando pase o se pose sobre el boton*/
    font-family: fantasy; /*definimo la fuente de las letras*/
    font-size: 30px;/*y su tamaño*/
}

/*y para finalizar definimos el estilo del enlace de reseteo de clave*/

.resetear-clave {
    display: block; /* Hacemos que el enlace ocupe todo el ancho disponible */
    text-align: center; /* centramos el texto del enlace */
    text-decoration: none; /* eliminamos el subrayado */
    color: #f23f26; /*cambiamos el color de las letras */
    margin-top: 15px; /* añadimos un pequeño margen arriba para separar del elemento anterior */
}
.resetear-clave:hover {
  color: #f3e4ca;
}

/*ya tenemos definido todos lo estilos para el formato de escritorio ahora usando @media vamos a convertir
en responsive algunas secciones de nuestra pagina salvo las card que lo vamos a hacer con bootstrap*/
/*empezamos*/

                      /*SECCION MEDIA QUERIES*/

/* ponemos @media queries para pantallas de 240px a 400px (celulares) */


@media (min-width: 240px) and (max-width: 400px) {

  header { /*llamamos a nuestro primer elemento que es el header*/
    padding: 10px; /* ajustamos el relleno */
    width: 100%;/*ajustamos el ancho para que ocupe todo el espacio disponible*/
  }

  .logo{ /*luego llamamos al logo de nuestra pagina*/
    width: 80px; /* redefinimos su ancho para que se ajuste al espacio disponible */
  }

  .logoinisesion{ /*ajustamos tambien el tamaño del logo de inicio de sesion*/
    width: 50px;
  }

  h1 { /*luego ajustamos el titulo de nuestra pagina*/
    font-size: 15px; /* ajustamos el tamaño de las letras*/
    padding: 2px; /* el relleno */
    text-indent: 10px; /* ajustamos la indentación del texto */
    white-space: nowrap;/*le decimos que no queremos salto de linea en nuestro titulo*/
    margin: 2px 0; /* y el margen esto recuerden es para que se vea bien en dispositivos celulares*/
    text-align: center; /*lo pocisionamos en el centro*/
}

main { /*llamamos el elemento main*/
  flex-direction: column; /* Cambiamos la dirección del flex para apilar los elementos verticalmente */
  justify-content: center;/*centramos los contenedores*/
  align-items: center;/*los elementos dentro de estos*/
  padding: 2px; /*y un poquito de relleno para separa los elementos del borde*/
}

.seccionIzq { /*ahora vamos con la seccion izquierda*/
  padding: 10px; /* ajustamos el relleno */
}

.seccionIzqP{ /*al parrafo le ajustamos el tamaño de las letras*/
  font-size: 15px;
}

.buttoninisesion,
.buttonregistrarse {
  font-size: 20px; /* a los botones tambien le ajustamos el tamaño de las letras */
}

/* y ocultamos la sección derecha para que cuando se renderice en las pantallas chicas la imagen no se vea */

.seccionDerecha {
  display: none; /*para eso solo desactivamos el display*/
}

.form { /*al formulario tambien vamos hacerle algunos ajustes de tamaño*/
  height: auto; /* cambiamos la altura a auto para que el formulario pueda crecer según el contenido */
  top: -65px; /* y le ajustamos el top negativo para que se pocisione bien sobre el boton cuando se abra*/
}

.titleForm { /*al titulo del formulario*/
  font-size: 16px; /* le achicamos el tamaño de las letras*/
  top: -10px; /* ajustamos el posicionamiento negativo para que quede bien superpuesto al borde */
  left: 2%; /* y lo deslzamos levemente a la derecha*/
}

.form h2 { /*al h2 del formulario*/
  font-size: 24px; /* le ajustamos el tamaño de las letras */
  padding-top: 30px; /* le ponemos relleno arriba */
  margin-bottom: 10px; /* y un margen abajo */
}

.form input[type="email"],
.form input[type="password"] {
  font-size: 16px; /* ajustamos el tamaño de las letras de los type */
}

.form input[type="submit"] { /*y ajustamos los valores del boton ingresar*/
  font-size: 24px; /* ajustamos el tamaño de las letras */
  width: 100%; /* le decimos que ocuoe todo el ancho disponible */
}

.resetear-clave { /*al link de recupero de clave*/
  margin-top: 10px; /* le ajustamos el margen superior */
  font-size: 14px; /* el tamaño de las letras  */
}

/*ahora ajustamos el footer*/

footer {
  padding: 15px; /* le damos un pequeño relleno*/
}

.parrafooter { 
  flex-direction: column; /* al parrafo le cambiamos la dispocision a columna para ubicarlos uno abajo del otro */
  align-items: center; /* y centramos los elementos */
}

.titfooter {
  margin: 10px; /*ajustamos el margen al link de las bases y condiciones */
}

.iconoredes {
  justify-content: center; /* cebtramos los iconos de las redes */
  margin: 10px 0; /* ajustamos el margen vertical*/
}

.imgredes { /*y a las imagenes de los iconos*/
  width: 40px; /* ajustamos el ancho */
  height: auto;/*el alto*/
  padding: 5px; /*  el relleno */
  margin: 0 3px; /* y le damos un pequeño margen a la derecha e izquierda */
}

.copyfooter {
  font-size: 12px; /*y al copyraight le ajustamos el tamaño de las letras*/
}
}
 

/* @media queires para pantallas de 401px a 640px (celulares mas grandes o tabletas) */

@media (min-width: 401px) and (max-width: 640px) {
  
  header { 
    width: 100%;/*le decimos al header que ocupe el ancho disponible */
    padding: 15px; /* y le ponemos un pooc de relleno*/
  }

  .logo {
    width: 80px; /* ajustamos el ancho del logo */
  }

  .logoinisesion {
    width: 60px; /* el ancho del logo de inicio de sesión */
    margin-right: 20px;/* ajustamos el margen derecho*/
  }

  h1 {
    font-size: 18px; /* ajustamos el tamaño de las letras */
    padding: 5px; /* le ponemos relleno */
    margin: 5px 0; /*y un margen arriba y abajo */
  }

  main {
    padding: 10px; /*le ponemos relleno a nuestro main */
  }

  .seccionIzq {
    padding: 15px; /* in poquito de relleno a nuestra seccion izquierda*/
  }

  .seccionIzqP {
    font-size: 18px; /* ajustamos el tamaño de las letras del párrafo */
  }

  .buttoninisesion,
  .buttonregistrarse {
    font-size: 24px; /* Ajustamos el tamaño de las letras de los botones */
  }

  .seccionDerecha {
    display: none; /* seguimos dejando oculta la seccion derecha */
  }

  .form {
    height: auto; /* cambiamos la altura a auto */
    top: -80px; /* ajustamos el top negativo para que siemore este sobre el boton de inicio de sesion cuando se abra*/
  }

  .titleForm { /*al titulo que se superpone en el borde del form*/
    font-size: 18px; /* le ajustamos el tamaño de las letras */
    top: -15px; /* Ajustamos el posicionamiento negativo para que se pocisione bien sobre el borde */
    left: 2%; /* ajustamos el espacio izquierdo */
  }

  .form h2 {
    font-size: 22px; /* Ajustamos el tamaño del título del formulario */
    padding-top: 20px; /* Ajustamos el relleno arriba */
    margin-bottom: 5px; /* Ajustamos el margen inferior */
  }

  .form input[type="email"],
  .form input[type="password"] {
    font-size: 18px; /* Ajustamos el tamaño de las letras de los campos de entrada */
  }

  .form input[type="submit"] {
    font-size: 26px; /* Ajustamos el tamaño de las letras del botón ingresar */
    width: 100%; /* Ajustamos el ancho del botón */
  }

  .resetear-clave {
    margin-top: 15px; /* Ajustamos el margen superior */
    font-size: 16px; /* Ajustamos el tamaño de las letras del enlace de reseteo */
  }

  footer {
    padding: 20px; /* le damos un pequeño relleno*/
  }
  
  .parrafooter { 
    flex-direction: column; /* al parrafo le cambiamos la dispocision a columna para ubicarlos uno abajo del otro */
    align-items: center; /* y centramos los elementos */
  }
  
  .titfooter {
    margin: 10px; /*ajustamos el margen al link de las bases y condiciones */
  }

  .titfooter:hover { /* le decimos tambien que si el usuario se pocisiona sobre el enlace este cambia de color */
    color: #f3e4ca;
  }
  
  .iconoredes {
    justify-content: center; /* cebtramos los iconos de las redes */
    margin: 10px 0; /* ajustamos el margen vertical*/
  }
  
  .imgredes { /*y a las imagenes de los iconos*/
    width: 50px; /* ajustamos el ancho */
    height: auto;/*el alto*/
    padding: 5px; /*  el relleno */
    margin: 0 5px; /* y le damos un pequeño margen a la derecha e izquierda */
  }
  
  .copyfooter {
    font-size: 14px; /*y al copyraight le ajustamos el tamaño de las letras*/
  }
}

/* @media queries para pantallas de 641px a 800px con los estilos para dispositivos mas grandes*/

@media (min-width: 641px) and (max-width: 800px) {

  header {
    width: 100%; /*lo mismo que antes le decimos al header que ocupe todo el ancho disponible*/
    padding: 15px; /*le ponemos un poco de relleno*/
  }

  .logo {
    width: 100px; /*ajustamos el ancho del logo de la pagina*/
  }

  .logoinisesion {
    width: 60px; /* el ancho del logo de inicio de sesion*/
    margin-right: 20px; /*el margen derecho para que no quede muy pegado al borde*/
  }

  h1 { /*al titulo */
    font-size: 18px; /*le damos un tamaño a la letras*/
    padding: 5px;/* un poco de relleno*/
    margin: 5px 0; /*y no nos olvidemos del margen arriba y abajo para separarlo de las demas secciones*/
  }

  main {
    padding: 10px;/*al amin solo ajustamos el relleno*/
  }

  .seccionIzq {
    padding: 15px; /*lo mismo con la seccion izquierda*/
  }

  .seccionIzqP {
    font-size: 20px; /*al parrafo de la seccion izquierda le ajustamos el tamaño*/
  }

  .buttoninisesion,
  .buttonregistrarse {
    font-size: 24px; /*lo mismo hacemos con las letras de los botones*/
  }

  .seccionDerecha {
    display: none; /*seguimos ocultando la seccion derecha*/
  }

  .form { /*al formulario lo seguimos pocisionando cuando se abre sobre el boton de inicio de sesion*/
    height: auto;
    top: -80px;/*recuerden que para lograr eso ponemos el valor del top en negativo*/
  }

  .titleForm { /*al titulo*/
    font-size: 18px;/*le ajustamos el tamaño de las letras*/
    top: -15px; /*el top negtaivo para que se pocisione sobre el borde de mi form*/
    left: 2%; /* y un pequeño espacio izquierdo*/
  }

  .form h2 { /*al h2  titulo de inicio de sesion del form*/
    font-size: 22px; /*ajustamos el tamaño de la fuente*/
    padding-top: 20px; /*un poco de relleno arriba*/
    margin-bottom: 5px;/*y un margen inferior*/
  }

  .form input[type="email"],
  .form input[type="password"] {
    font-size: 18px; /*a los type solo le ajustamos el tamaño de la fuente*/
  }

  .form input[type="submit"] { /*al boton ingresar*/
    font-size: 26px;/*le ajsutamos el tamaños de las letras*/
    width: 100%;/*le decimos que ocupe todo el ancho disponible*/
    justify-content: center; /*centramos horizontalmente el contenedor */
    align-items: center; /* centramos verticalmente los elementos */
    text-align: center; /* centramos el texto */
  }

  .resetear-clave { /*al link de reseteo de clave*/
    margin-top: 15px;/* ajustamos el margen superior*/
    font-size: 16px;/*y el tamaño de las letras*/ 
  }

  /*y pasamos al footer*/
  footer {
    padding: 20px; /*ponemos relleno*/
  }

  .parrafooter {
    flex-direction: column; /*seguimos ubicando en columnas*/
    align-items: center;/*y en el centro el link de bases y condiciones*/
  }

  .titfooter {
    font-size: 22px;/*ajustamos el tamaño*/
    margin: 10px; /*le agregamos un margen al link*/
  }

  .titfooter:hover { /* le decimos tambien que si el usuario se pocisiona sobre el enlace este cambia de color */
    color: #f3e4ca;
  }

  .iconoredes {
    justify-content: center; /*seguimos centrando los iconos*/
    margin: 10px 0;  /*ademas de ponerle margenes arriba y abajo*/
  }

  .imgredes { /*a las imagenes de los iconos*/
    width: 60px; /*ajustamos su tamaño*/
    height: auto; /*el alto*/
    padding: 6px; /*un poco el relleno*/
    margin: 0 5px;/*ademas de darle un margen derecjo e izquierdo para separarlas*/
  }

  .copyfooter {
    font-size: 16px;/*y al copy solo le ajsutamos el tamaño de las letras*/
  }
}
/*@media queries para pantalla entre 801px y 1200px  */
@media (min-width: 801px) and (max-width: 1200px) {
  header {
    width: 100%;
    padding: 20px; /* Ajustamos el relleno */
  }

  .logo {
    width: 120px; /* Aumentamos el ancho del logo */
  }

  .logoinisesion {
    width: 80px; /* Ajustamos el ancho del logo de inicio de sesión */
    margin-right: 30px; /* Aumentamos el margen derecho */
  }

  h1 {
    font-size: 24px; /* Aumentamos el tamaño de la fuente */
    padding: 10px; /* Aumentamos el relleno */
    margin: 10px 0; /* Aumentamos el margen arriba y abajo */
  }

  main {
    padding: 20px; /* Ajustamos el relleno */
  }

  .seccionIzq {
    padding: 20px; /* Aumentamos el relleno */
  }

  .seccionIzqP {
    font-size: 24px; /* Aumentamos el tamaño de la fuente */
  }

  .buttoninisesion,
  .buttonregistrarse {
    font-size: 28px; /* Aumentamos el tamaño de las letras */
  }

  .seccionDerecha {
    display: block; /* Mostramos la sección derecha */
    width: 100%; /*le decimos que ocupe todo el ancho disponible*/
  }

  .form { /*para el formulario*/
    height: auto; /*ajustamos la altura en automatico y luego lo superponemos osbre el boton de inicio de sesion*/
    top: -90px;/*recuerden que para lograr eso ponemos el valor del top en negativo*/
  }

  .titleForm {
    font-size: 20px; /*al titulo que se superpone sobre el borde del form le ajustamos el tamaño de las letras */
    top: -18px; /* ajustamos la superpocision*/
    left: 5%; /* Aumentamos el espacio del lado izquierdo */
  }

  .form h2 {
    font-size: 24px; /* aumentamos el tamaño de las letras */
    padding-top: 30px; /* le ponemos  relleno arriba */
    margin-bottom: 10px; /*y un margen inferior */
  }

  .form input[type="email"],
  .form input[type="password"] {
    font-size: 20px; /* a los input solo le ajustamos el tamaño de las letras*/
  }

  .form input[type="submit"] {
    font-size: 30px; /*y al boton enviar tambien ajustamos el tamaño de las letras*/
    width: 100%;/*le decimos que ocupe todo el ancho disponible*/
    justify-content: center; /*centramos horizontalmente el contenedor */
    align-items: center; /* centramos verticalmente los elementos */
    text-align: center; /* centramos el texto */
  }

  .resetear-clave {
    margin-top: 20px; /* Ale damos un margen superior */
    font-size: 18px; /*y ajustamos el tamaño de las letras */
  }

  footer { /*al footer */
    padding: 30px; /* le ponemos un poco de relleno */
  }

  .parrafooter {
    display: flex; /*le decimos que tiene que tener un contenedor flexible*/
    flex: 1;/*que debe ocupar el lado izquierdo*/
    justify-content: flex-start;/*y pocisionarse al inicio */
    align-items: center;/*centrado en el medio*/
    width: 100%; /*ocupando todo el ancho disponible*/
  }

  .titfooter {
    font-size: 20px; /*al texto de bases y condiciones*/
    text-decoration: none;/*le sacamos el subrayado */
    margin: 0px 0px 15px 0px; /* ajustamos el margen izquierdo */
    white-space: nowrap;/*ademas de eso evitamos que haga un salto de linea*/
  }

  .titfooter:hover { /* le decimos tambien que si el usuario se pocisiona sobre el enlace este cambia de color */
    color: #f3e4ca;
  }

  .iconoredes {
    display: flex; /*al contenedor de los iconos de las redes le decimos que tenga un contendor flexible*/
    flex: 1;/*que ocupe el lado derecho*/
    justify-content: flex-end; /*y que lo elementos se pocisionen al final */
    align-items: center; /*pero centrados*/
    margin: 0px 0px 15px 0px; /* y le ponemos un margen izquierdo */
  }

  .imgredes { /*a las imagenes */
    width: 100px;/*le decimos que ocupen todo el ancho disponible*/
    height: auto;/*que el alto sea automatico*/
    padding: 20px; /*un poco de relleno para crear espacio entre si*/
    margin: 0 5px; /*un margen a la dreceha y a la izquierda*/
    text-decoration: none; /*y eliminamos el subrayado del enlace*/
  }

  .copyfooter {
    font-size: 18px; /* y al copy solo le ajustamos el tamaño de las letras */
  }
}


